.flipCard {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
  width: 240px;
  height: 240px;
}

.profileImg {
  border-radius: 0.5rem;
  border: 2px solid white;
  object-fit: cover;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
